@import url(https://fonts.googleapis.com/css?family=Lobster);
html{
    min-width: 20em;
    overflow-x:scroll;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    padding: 0;
    margin: 0;

}

#container {
    width: 800px;
    margin: 20px auto;
}

#container.side-mode{
    width: 800px;
    margin-left:45%;

}

h1 {
    font-size: 300%;
    margin: 0 0 15px 0;
    font-family: 'Lobster', cursive;
    text-align: center;
}

h2 {
    font-size: 160%;
    margin: 0 0 10px 0;
}

h3{
    display: inline;
}

p {
    margin: 0 0 10px;
}

form, form > * {
    margin: 0;
}

#status {
    color: #999;
}

#map-container {
    height: 500px;
    text-align: center;
    position: relative;
    margin: 20px 0;
}

#map {
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
}

path.state {
    stroke: #666;
    stroke-width: 1px;
}

path.state:hover {
    stroke: #000;
}

form {
    font-size: 120%;
}

select {
    font-size: inherit;
}

#placeholder {
    position: absolute;
    z-index: -1;
    display: block;
    left: 0;
    top: 0;
}

.glyphicon{
    font-size: 30px;
}
#trigger-left{

}

#trigger-right{
    float:right;
}

.triggers{
    margin-top: 20px;
    margin-bottom: 20px;
}


#panel-right {
    margin-top: 30px;
}

#panel-left{
    /*background-color: cornflowerblue;*/
    /*overflow-y: scroll;*/
}

#panel-left td {
    padding-left: 10px;
    padding-top: 3px;
}

#panel-left table {
    margin: 10px;
}

#panel-left th {
    padding: 10px;
}

.color-input {
    margin-top: 20px;
    float: top;
    font-size: 30px;
    padding: 10px;
}

.color-input label {
    font-size: 25px;
    margin-top:10px;
    margin-bottom: 15px;
}

.color-input h3{
    display: block;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    margin-top: 10px;
}

.shape-input {
    margin-top: 20px;
    float: top;
    font-size: 30px;
}

.shape-input label {
    font-size: 25px;
    margin-top:10px;
    margin-bottom: 15px;
}

.shape-input h3{
    display: block;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}


/*slider*/

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: dodgerblue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #dodgerblue;
    cursor: pointer;
}



/*bar chart*/

select {
    display: block;

}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}

.bar:hover {
    fill: greenyellow;
}

.state:hover{
    fill:greenyellow;
}


#urlInput{
    margin: 0 auto;
    width: 60%;
    margin-top: 10%;

}

#urlSubmitBtn{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.BigTitle{
    font-size: 40px;
    text-align: center;
    margin: 5px;
}

.bar-non-brushed{
    fill: purple;
    opacity: 0.8;

}
.bar-brushed{
    fill: orange;
}

.state-brushed{
    fill: orange;
}

.small-multiple-container{
    margin: 0 auto;
    text-align: center;
}

.addNew{
    float: right;
}

.sidebar-header h1{
    margin: 10px;
    margin-top: 25px;
}

.panel-input{
    margin-top: 20px;
    display: block;
    padding: 10px;
}

label{
    margin-top: 15px;
    margin-left: 15px;
}

#setAnnotation{
    text-align: center;
    margin-top: 60px;
    padding: 10px;
}


